-i http://mirrors.aliyun.com/pypi/simple/ --trusted-host mirrors.aliyun.com

fastapi==0.52.0
pydantic==1.4
starlette==0.13.2
uvicorn
gunicorn
asyncpg
aiosql
aioredis
msgpack
pytest
ujson
tortoise
python-json-logger
Celery==4.2.1
flower==0.9.2